/*Homepage*/

div.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 14em;
}
div.welcome-logo img {
    height: 15em;
}
div.welcome-message {
    font-size: 37px;
}

/*buttons*/

button {
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    background-color: transparent;
    font-size: 15.5px;
    border-radius: 10px;
}
button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

/*login and Signup */

.forms {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 15em;
}
.form-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.form-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 513px;
    width: 500px;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #f4bebe;
    background-color: #f4bebe;
    border-radius: 15px;
    padding: 3em;
}
label {
    font-size: 18px;
}
.label-input {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 100%;
    padding-top: 1em;
 }
 input.form-input {
    height: 3em;
 }
 .submit-form-button {
    padding-top: 20px;
 }

 /*profile header*/

.profile-logo {
    display: flex;
    justify-content: center;
    margin-top: 29px;
 }

.profile-inner-links {
    display: flex;
    justify-content:space-around ;
    flex-wrap: wrap;
    background-color: #ffcbcb;
    margin-top: 35px;
}
.profile-inner-links li {
    padding: 2em;
    list-style: none;
    cursor: pointer;
}
.profile-inner-links li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.profile-inner-links li a:hover{
    width: 120px;
    left: 470px;
    background-color: red;
    color: white;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
    padding: 2em;
}

/*profile picture*/

.profile-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    margin-top: 104px;
}
.profile-picture-content {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}
.profile-picture {
    width: 247px;
    height: 233px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid red;
    background-color: #ece1e1;
}
.profile-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    margin: 3em;
}

/*user info*/
h1 {
    padding: 15px;
}
.about-me {
    flex: 2%;
    height: 320px;
}
.user-status {
    flex: 50%;
}
.about-me-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label.user-job-info {
    color: black;
    font-weight: 300;
    padding-right: 10px;
}
input.user-input {
    width: 100%;
    height: 32px;
}
div.social {
    padding-top: 2em;
}
.fb-ig {
    display: flex;
    flex-direction: row;
}
.fb-ig li {
    list-style: none;
    padding: 0 15px 0 15px;
}

/*user status*/

textarea {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 285px;
    margin-left: 1em;
    width: 100%;
    height: 220px;
    font-size: 15px;
}
.share {
    font-size: 22px;
    padding: 0 0 0 13px;
}
button.post {
    margin: 0;
    margin-left: 0px;
    width: 100%;
    padding-left: -6px;
    margin-left: 11px;
    border-radius: 0;
}

@media (max-width: 800px) {
    .about-me, .user-status {
      flex: 100%;
    }
    textarea, button.post  {
        margin: 0;
    }

  }






